<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>个人理财系统后台</title>
</head>
<body>

<!--左侧导航-->
  <aside class="lyear-layout-sidebar" id="leftbaraside">
    <div id="logo" class="sidebar-header">
        <a class="navbar-brand" style="font-size: 20px" href="http://localhost/admin/index.html">后台管理系统</a>
    </div>
    <div class="lyear-layout-sidebar-scroll ps">
        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item"><a href="http://localhost/admin/index.html"><i class="mdi mdi-home"></i>系统首页</a></li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-account-settings-variant"></i>
                        用户信息管理</a>
                    <ul class="nav nav-subnav">
                        <li><a href="http://localhost/admin/userinfo/toUserInfo.html">用户信息</a></li>
                        <li><a href="http://localhost/admin/userinfo/toBankCard.html">银行卡</a></li>
                        <li><a href="http://localhost/admin/userinfo/toReputation.html">个人征信</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav active open"><a href="javascript:void(0)"><i class="mdi mdi-skype-business"></i>理财产品管理</a>
                    <ul class="nav nav-subnav">
                        <li><a href="http://localhost/admin/finance/toChangeMoney.html">零钱理财</a></li>
                        <li><a href="http://localhost/admin/finance/toTermFinancial.html">期限理财</a></li>
                        <li><a href="http://localhost/admin/finance/toFundProduct.html">基金理财</a></li>
                        <li><a href="http://localhost/admin/finance/toBank.html">精选银行</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav"><a href="javascript:void(0)"><i class="mdi mdi-key-change"></i>权限管理</a>
                    <ul class="nav nav-subnav">
                        <li><a href="http://localhost/admin/permission/toUserPermissions.html">用户权限</a></li>
                        <li><a href="http://localhost/admin/permission/toAdminPermissions.html">管理员权限</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav"><a href="javascript:void(0)"><i class="mdi mdi-comment-text"></i>网贷管理</a>
                    <ul class="nav nav-subnav">
                        <li><a href="http://localhost/admin/loan/toLoanexam.html">网贷审核</a></li>
                        <li><a href="http://localhost/admin/loan/toLoaninfo.html">网贷信息</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    <div class="ps__rail-x" style="left: 0px; bottom: 2px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 2px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
</aside>
<!--End 左侧导航-->

</body>
</html>