<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>个人理财系统</title>
</head>
<body rlt="1" style="">

        <!--左侧导航-->
        <aside class="lyear-layout-sidebar" id="leftbaraside">
    <div id="logo" class="sidebar-header">
        <a class="navbar-brand" style="font-size: 20px" href="http://localhost/user/index.html">个人理财系统</a>
    </div>
    <div class="lyear-layout-sidebar-scroll ps">
        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item"><a href="http://localhost/user/index.html"><i class="mdi mdi-home"></i>系统首页</a></li>
                <li class="nav-item nav-item-has-subnav active open">
                    <a href="javascript:void(0)"><i class="mdi mdi-square-inc-cash"></i>
                        个人理财</a>
                    <ul class="nav nav-subnav">
                        <li><a href="http://localhost/user/finance/toChangeMoney.html">零钱理财</a></li>
                        <li><a href="http://localhost/user/finance/toTermFinancial.html">期限理财</a></li>
                        <li><a href="http://localhost/user/finance/toFundProduct.html">基金理财</a></li>
                        <li class="active"><a href="http://localhost/user/finance/toBank.html">银行推荐</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav"><a href="javascript:void(0)"><i class="mdi mdi-wrench"></i>金融工具</a>
                    <ul class="nav nav-subnav">
                        <li><a href="http://localhost/user/tools/toRecord.html">资金记录</a></li>
                        <li><a href="http://localhost/user/tools/toApplyLoan.html">安全网贷</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav"><a href="javascript:void(0)"><i class="mdi mdi-account-location"></i> 个人中心</a>
                    <ul class="nav nav-subnav">
                        <li><a href="http://localhost/user/personal/toMyFinance.html">我的理财</a></li>
                        <li><a href="http://localhost/user/personal/toMyLoan.html">我的借贷</a></li>
                        <li><a href="http://localhost/user/personal/toBankCard.html">银行卡管理</a></li>
                        <li><a href="http://localhost/user/personal/toSecurity.html">账户安全</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    <div class="ps__rail-x" style="left: 0px; bottom: 2px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 2px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
</aside>
<!--End 左侧导航-->


</body>
</html>